<!--MODAL-->
<div id="answer-modal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <h4>Answer a question: </h4>
      <textarea id="answer_text" name="answer[text]" value="" class="form-control" autofocus="autofocus" style="max-width: 577px;"></textarea>
      <div class="text-center">
        <button class="add-answer btn btn-default">Answer</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->