<!--MODAL-->
<div id="after-submit-to-publish-modal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      Congrats on publishing your first room! You'll be notified when your room is live. Be sure to come back to
      your dashboard and copy your widget code so that you can promote your room on your blog and other social feeds.
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->