<%= link_to "Preview Tear Sheet", tear_sheet_path(id: board,format: :pdf), :class => "btn btn-default btn-sm", target: "_blank" %>
<%= link_to "Edit Room", design_board_path(board), :class => "btn btn-default btn-sm"%>
<div class="btn btn-default btn-sm js-private-invoice">Edit Invoice</div>
<% if board.project.present? %><div class="btn btn-default btn-sm js-private-email">Send to Client</div><% end %>
<div class="btn btn-default btn-sm js-histroy">History</div>
<%= link_to "Make public", make_public_room_path(board), class: "btn btn-default btn-sm js-make-public" %>
<a href="<%= board_path(id: board.slug, format: :json) %>" class="btn btn-default btn-sm js-project-remove-room">Remove</a>