<%= link_to "Preview", preview_board_path(board), :class => "btn btn-default btn-sm"%>
<%= link_to "Edit", design_board_path(board), :class => "btn btn-default btn-sm"%>
<div class="btn btn-default btn-sm js-private-invoice">Invoice</div>
<% if board.project.present? %><div class="btn btn-default btn-sm js-private-email">Email</div><% end %>
<div class="btn btn-default btn-sm js-histroy">History</div>
<%= link_to "Make public", make_public_room_path(board), class: "btn btn-default btn-sm js-make-public" %>