<td class="stat align-center"><%= board.board_products.size %></td>
<td class="stat align-center"><%= board.impressionist_count %></td>
<td class="stat align-center"><%= board.board_commission.to_s %></td>