<!--MODAL-->
<div id="dashboard-welcome-modal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      Welcome to your Dashboard! From here you can create your profile, add new rooms, track traffic to your rooms and view revenue earned from your rooms.
      You can also access video tutorials and tips and tricks from this page too.
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->