<div class="row">
  <div class="col-md-3">
    <%= render :partial => "dashboard_menu", :locals => {:selected => "questions_and_answers"} %>
  </div>


  <div class="col-md-9">
    Q&A
  </div>
</div>
