<div class="project-history text-center">
  <h3>PROJECT HISTORY</h3>
  <div class="row project-history-header">
    <div class="col-md-4">
      SUBJECT
    </div>
    <div class="col-md-5">
      DATE
    </div>
    <div class="col-md-3">
      ATTACHMENT
    </div>
  </div>
  <div class="project-history-group">
    <% if @project_history.present? %>
      <% @project_history.each do |ph| %>
          <%= render partial: 'project_history_item', locals: {ph: ph} %>
      <% end %>
    <% end %>
  </div>
</div>