<div class="col-md-12 text-center">
  <h1>Project Details</h1>
</div>
<div class="row project-step step1 text-center">
  <div class="col-md-4">
    <p><span class="step-name">Customer Info:</span></p>
    <p><span class="project-edit" data-step="1">EDIT</span></p>
  </div>
  <div class="col-md-6 data">

  </div>
</div>

<div class="row project-step step2 text-center">
  <div class="col-md-4">
    <p><span class="step-name">Billing Method:</span></p>
    <p><span class="project-edit" data-step="1">EDIT</span></p>
  </div>
  <div class="col-md-6 data">

  </div>
</div>

<div class="row project-step step3 text-center">
  <div class="col-md-4">
    <p><span class="step-name">Contract Terms:</span></p>
    <p><span class="project-edit" data-step="1">EDIT</span></p>
  </div>
  <div class="col-md-6 data">

  </div>
</div>