<div class="form-group">
  <%= f.select :rate_type, options_for_select([['Rate Type','placeholder',{disabled: 'disabled'}],['FLAT RATE',{class: 'option-color'}],['HOURLY RATE',{class: 'option-color'}]],'placeholder'),{}, :class => 'form-control text-center select-placeholder'%>
  <div class="info"></div>
</div>

<div class="form-group" style="display: none;">
  <%= f.text_field :rate, :placeholder => 'ENTER RATE (EX: 100.00)', :class => 'form-control text-center' %>
  <div class="info"></div>
</div>

<div class="form-group" style="display: none;">
  <%= f.select :customer_billing_cycle, options_for_select([]),{}, :class => 'form-control text-center select-placeholder' %>
  <div class="info"></div>
</div>