<div class="form-group">
  <%= select_tag :contract_type, options_for_select([]),disabled: 'disabled', :class => 'form-control text-center'%>
  <div class="info"></div>
</div>

<div class="form-group">
  <%= f.select :charge, options_for_select([['Would you like to charge a percentage of the product order total ?','placeholder',{disabled: 'disabled'}],['YES','true',{class: 'option-color'}],['NO','false',{class: 'option-color'}]],'placeholder'),{}, :class => 'form-control text-center select-placeholder'%>
  <div class="info"></div>
</div>

<div class="form-group" style="display: none;">
  <%= f.select :charge_on, options_for_select([['Charge Percentage:','placeholder',{disabled: 'disabled'}],['On all products purchased reladed to contract work, whether they are included in your designs or not','all_products',{class: 'option-color'}],['Only if customer buys alternate products outside of contract terms that are not included in your designs','alternate',{class: 'option-color'}]],'placeholder'),{}, :class => 'form-control text-center select-placeholder' %>
  <div class="info"></div>
</div>

<div class="form-group" style="display: none;">
  <%= f.select :charge_percentage, options_for_select([['Choose percentage to charge:','placeholder',{disabled: 'disabled'}],['5%','5',{class: 'option-color'}],['10%','10',{class: 'option-color'}],['15%','15',{class: 'option-color'}],['20%','20',{class: 'option-color'}],['25%','25',{class: 'option-color'}]],'placeholder'),{}, :class => 'form-control text-center select-placeholder' %>
  <div class="info"></div>
</div>