<div class="form-group">
  <%= f.select :charge, options_for_select([['Would you like to charge a percentage of the product order total ?','placeholder',{disabled: 'disabled'}],['YES','true',{class: 'option-color'}],['NO','false',{class: 'option-color'}]],'placeholder'),{}, :class => 'form-control text-center select-placeholder'%>
  <div class="info"></div>
</div>

<div class="form-group">
  <%= f.select :charge_percentage, options_for_select([['Choose percentage to charge:','placeholder',{disabled: 'disabled'}],['5%','5',{class: 'option-color'}],['10%','10',{class: 'option-color'}],['15%','15',{class: 'option-color'}],['20%','20',{class: 'option-color'}],['25%','25',{class: 'option-color'}]],'placeholder'),{}, :class => 'form-control text-center select-placeholder' %>
  <div class="info"></div>
</div>