<div class="row">
    <div class="col-md-3">
        <%= render :partial => "spree/boards/dashboard_menu", :locals => {:selected => "dashboard"} %>
    </div>

    <div class="col-md-9">
      <div class="col-md-12 text-center">
        <h1>Customer Information</h1>
      </div>

        <%= form_for @project,:url => projects_path, html: {id: "create_project_form"} do |f| %>
          <div class="row">
             <div class="col-md-8 col-md-offset-2">

              <%= render :partial => "form", locals: {f: f} %>

             </div>
          </div>

          <div class="row">
              <div class="form-actions text-right col-md-8 col-md-offset-2">
                  <%= f.submit "Save", :class => 'btn btn-primary' %>
              </div>
          </div>
        <% end %>
    </div>
</div>