<div class="container">	
	<img src="/images/about/our-mission.jpg" class="img-responsive" /><br/>

  <div class="row">
    <hr class="scout-divider">
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12 mission-step">
      <div>
        <img src="/images/about/our-mission.jpg" class="img-responsive img-circle" />
      </div>
      <div>
        <div class="no">1</div>
        <div class="step">
          <div>Browse designers</div>
          <div>and their rooms</div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 mission-step">
      <div>
        <img src="/images/about/our-mission.jpg" class="img-responsive img-circle" />
      </div>
      <div>
        <span class="no">2</span>
        <div class="step">
          <div>Choose a</div>
          <div>room design</div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 mission-step">
      <div>
        <img src="/images/about/our-mission.jpg" class="img-responsive img-circle" />
      </div>
      <div>
        <span class="no">3</span>
        <div class="step">
          <div>Click your favorite</div>
          <div>products and order!</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <hr class="scout-divider">
  </div>

  <div class="row mission-content">
    <div class="col-md-5 col-sm-5 col-xs-12">
      <span class="header">
        real designer insight
      </span>
      <div class="content">
        Expert advice from top designers takes the<br>
        guesswork out of decorating your home.<br>
        Shop stylish rooms created by interior<br>
        designers - without the hefty price tag.
      </div>
    </div>
    <div class="col-md-7 col-sm-7 col-xs-12">
      <img src="/images/about/room1.jpg" class="img-responsive" />
    </div>
  </div>

  <div class="row mission-content">
    <div class="col-md-7 col-sm-7 col-xs-12">
      <img src="/images/about/room2.jpg" class="img-responsive" />
    </div>
    <div class="col-md-5 col-sm-5 col-xs-12">
      <span class="header">avoid design mistakes</span>
      <div class="content">
        Mistakes can cost money, time and stress.<br>
        With help from design experts, become an<br>
        efficient and sawy consumer while making<br>
        your home beautiful.
      </div>
    </div>
  </div>

  <div class="row mission-content">
    <div class="col-md-5 col-sm-5 col-xs-12">
      <span class="header">Shop with confidence</span>
      <div class="content">
        No more running around to different<br>
        stores find the perfect piece. Shop all<br>
        styles with ease and confidence knowing<br>
        each piece is designer-approved.
      </div>
    </div>
    <div class="col-md-7 col-sm-7 col-xs-12">
      <img src="/images/about/room3.jpg" class="img-responsive" />
    </div>
  </div>


  <div class="row">
    <hr class="scout-divider">
  </div>


    <div class="row">
      <h2 style="text-align: center;" class="meet-team">Meet the Team</h2>


      <div class="row">
        <div class="col-md-4">
          <div class="bio-image-section">
            <%= image_tag("/images/about/team-1.jpg", :class => "img-circle")%>
            <div>
              <a href="" style="color:black;font-size:18px;">Sam Bodine</a>
            </div>
            <div>
              <span style="">Co-founder</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bio-image-section">
            <%= image_tag("/images/about/team-3.jpg", :class => "img-circle")%>
            <div>
              <a href="" style="color:black;font-size:18px;">James Roberts</a>
            </div>
            <div>
              <span style="">Co-Founder</span>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="bio-image-section">
            <%= image_tag("/images/about/team-4.jpg", :class => "img-circle")%>
            <div>
              <a href="" style="color:black;font-size:18px;">Jesse Bodine</a>
            </div>
            <div>
              <span style="">President, Co-founder</span>
            </div>
          </div>
        </div>
      </div>
    </div>
		
		
	</div>

