<div class="row">
	<div class="col-md-3">
		<%= render :partial => "/spree/boards/dashboard_menu", :locals => {:selected => "tutorial"}%>
	</div>
	

	<div class="col-md-9">
		
			<div class="page-header">
				<h1>Video Tutorial</h1>
			</div>
			
			<div class="row">
				<div class="col-md-12">
          <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:62.5% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_vr0ey6w9hl videoFoam=true" style="height:100%;width:100%">
				</div>
			</div>

	  	
	</div>
</div>

