<div class="page-header">

  <%= image_tag("frontend/designer-signup-banner.jpg", :style => "margin-bottom: 20px; width: 100%;")%>
</div>
<div class="row designer-signup">
  <div class="col-md-4">
    <div class="text-center">
      <%= image_tag "frontend/trade-program.png", class: "img-responsive" %>
    </div>
    <div class="text-center">
      <a href="/designers/designer_signup" class="btn btn-primary btn-custom">Join Now</a>
    </div>
    <div class="text-center">
      <span class="header">Trade Program</span>
    </div>
    <ul>
      <li>Recive promotions and incentives for you & your clients</li>
      <li>Shop our large family of brands</li>
      <li>Get up to a 15% discount and applicable tax exemptions</li>
    </ul>
  </div>
  <div class="col-md-4">
    <div class="text-center">
      <%= image_tag "frontend/room-designer.png", class: "img-responsive" %>
    </div>
    <div class="text-center">
      <a href="/designers/designer_signup" class="btn btn-primary btn-custom">Join Now</a>
    </div>
    <div class="text-center">
      <span class="header">Room Designer</span>
    </div>
    <ul>
      <li>Create rooms from the comfort of your own home</li>
      <li>Earn a supplemental monthly income and build your brand</li>
      <li>Get your designs in front of over 150K of our followers</li>
    </ul>
  </div>
  <div class="col-md-4">
    <div class="text-center">
      <%= image_tag "frontend/all-access-designer.png", class: "img-responsive" %>
    </div>
    <div class="text-center">
      <a href="/designers/all-access-designer" class="btn btn-primary btn-custom">Learn More</a>
      <%#= link_to "Learn More", all_access_designer_path, class: "btn btn-primary btn-custom" %>
    </div>
    <div class="text-center">
      <span class="header">All-Access Designer</span>
    </div>
    <ul>
      <li>Manage every aspect of the design process all in one place</li>
      <li>Create custom design contracts</li>
      <li>Access automated emails, invoicing and design proposals</li>
      <li>Efficiently track your hours</li>
    </ul>
  </div>
</div>