<% content_for :designer_registration_actions do %>  
  <li><%= button_link_to Spree.t("designer_registration.new_designer_registration"), new_object_url, :icon => 'icon-plus' %></li>
<% end %>

<% content_for :board_title do %>
	<%= Spree.t("designer_registration.designer_registration.user.email") %>
<% end %>

<%= render :partial => 'spree/admin/shared/users_sub_menu' %>

<%= render :partial => 'spree/admin/designer_registrations/designers_form' %>