<!--MODAL-->
<div id="portfolio-modal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content text-center">

      <div class="social-portfolio">


          <% if spree_current_user.present? %>
            <div class="favorite add-to-portfolio-favorites">
              <i class="fa fa-heart fa-white"></i>
            </div>
            <div class="favorite remove-from-portfolio-favorites">
              <i class="fa fa-heart fa-red"></i>
            </div>

          <% end %>


      </div>

      <button type="button" class="close new-close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <img src=""/>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->