<% render partial: 'page_action', locals: {slide: @slide} %>

<% content_for :page_title do %>
  <%= Spree.t(:home_page_slides) %>
<% end %>

<%= render partial: 'spree/admin/shared/slider_sub_menu' %>

<% slides_array = [[Spree.t('slide.current_slides'), @current_slides],
                   [Spree.t('slide.expired_slides'), @expired_slides],
                   [Spree.t('slide.upcoming_slides'), @upcoming_slides]] %>

<% slides_array.each do |array| %>
  <h4><%= array[0] %></h4>
  <%= render partial: 'list', locals: {slides: array[1]}%>
<% end %>
