<div class="js-render-product-room-builder" data-filter="<%= reload_filters_rooms_path(s: params[:s], keywords: params[:keywords], format: 'html') %>">
  <% unless products.blank? %>
    <div class="select-products-box-inner">
      <% products.in_groups_of(3, false) do |row_products| %>
        <div class="row">
          <% for product in row_products %>
            <% is_bookmarked = product.is_bookmarked_by?(spree_current_user) %>
            <div class="col-md-4">
              <div id="board-product-select-<%= product.id %>" class="board-product-select">
                <div class="board-product-select-image">
                    <div class="board-lightbox-product">
                    <div style="position: relative;">
                        <% if product.images.first %>
                          <%= image_tag product.images.first.attachment.url(:thumb), {:class => 'js-image-to-add-to-bookmark'}%>
                        <% elsif product.master.images.first%>
                          <%= image_tag product.master.images.first.attachment.url(:thumb), {:class => 'js-image-to-add-to-bookmark'}%>
                        <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="empty-search-state">We couldn't find any products for that search.</p>
  <% end %>
</div>