<% if p.tags.present? and p.tags.split(',').count > 0 %>
  <div class="row col-md-12 portfolio-row-margin">
    <h3>Tags:</h3>
    <div class="col-md-12 portfolio-seo">
      <% p.tags.split(',').each do |t| %>
        <% if t.present? %>
          <span class="tag">
            <%= t.strip %>
          </span>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>