<!--MODAL-->
<div id="portfolio-save-modal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content text-center no-radius">

      <div class="modal-header no-border">
        <button type="button" class="close new-close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>

      <div class="text-center modal-body">
        Congrats!
        <br>
        Your image has been saved
        <br><br><br>
        Want to add another image of this room?
        <br>
        <div class="btn btn-primary no-radius add-another-portfolio">ADD</div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
