<% if @obj.any? %>

        <% @obj.each do |p| %>

          <%= render :partial => 'spree/portfolios/portfolio_item', locals: {p: p,cols: nil} %>

        <% end %>


      <div class="hidden paginate-to-remove">
        <%= paginate @portfolios %>
      </div>


<% else %>
    <div class="row col-md-12 text-center">
      <h1>THERE IS NO PORTFOLIOS YET</h1>
    </div>
<% end %>